:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--brown);

  --black: #242424;
  --brown: #463f3a;
  --grey: #8a817c;
  --lightgrey: #bcb8b1;
  --white: #f4f3ee;
  --noto: "noto sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  color: var(--white);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--lightgrey);
}

/* src/main.css */
body {
  font-family: var(--grey), "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  color: var(--white);
  letter-spacing: 0.6px;
  animation: fadeIn 0.5s;
}

main {
  margin-top: 2em;
}

h1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
}

h2 {
  text-transform: uppercase;
  font-size: 3em;
  padding: 0;
}

/* ---------- Navigation Styling ---------- */

.headernav {
  position: sticky;
  display: flex;
  width: 90%;
  top: 0;
  background-color: var(--grey);
  box-shadow: 0 2px 4px #0000001a;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  border-radius: 37px;
  margin-top: 2rem;
  z-index: 2000;
}

.headernav a {
  text-transform: uppercase;
  font-family: "century-gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 1rem 2rem;
  font-size: 20px;
}

.nav {
  display: flex;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  transition: 0.5s;
  padding: 1rem 1.5rem;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--brown);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--brown);
}

/* ---- Forside hero section  ---- */
.hero img {
  width: 55%;
}

.vertical-head {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.hero-text {
  justify-self: center;
  text-align: left;
  align-content: center;
}

.hero .list-social i {
  margin-right: 1rem;
}

/* client row */

.project-row {
  background: var(--black);
  margin-bottom: 40px;
  overflow: hidden;
}

.project-row > article {
  padding: 40px;
  background: var(--black);
  max-width: 400px;
  margin: auto 0 auto auto;
  text-align: right;
}
.project-row:nth-child(2n) > article {
  text-align: left;
  margin: auto auto auto 0;
}

.project-row h3 {
  text-transform: uppercase;
}

.row {
  margin: 4em 0;
  text-align: center;
}

/* ========== CONTACT STYLING ========== */
.list-social span {
  display: none;
}

#contact .list-social i {
  margin-left: 1rem;
}

/* Ensure contact section never covers overlay menu */
#contact {
  width: 100%;
  padding: 4em 0;
  text-align: center;
  position: relative;
  z-index: 0;
}

#contact figure {
  margin: 3em 0 0;
}

#contact img {
  margin-top: 3em;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: var(--grey) 4px solid;
  object-fit: cover;
}

#contact address {
  font-style: normal;
  margin: 2em 0 0 0;
}

#contact .list-social {
  margin: 2em 0 0;
}

.list-social i {
  color: var(--grey);
  font-size: 30px;
  transition: transform 0.2s; /* Animation */
}

p:last-child {
  margin-bottom: 0;
}

i:hover {
  color: var(--white);
}

/* -----SKill Section----- */
.skillsection {
  padding-bottom: 1em;
  justify-self: center;
  background-color: var(--black);
  width: 100%;
}

.skill-words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headlineskill {
  margin-top: 1em;
  padding-top: 0.7rem;
  background: var(--black);
}

/* ----- Skills grid ----- */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: fit-content;
  justify-self: center;
}

.skill-item {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s, border-radius 0.3s;
}

.skill-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.587);
  border-radius: 33px;
}
/* --- */

/* Button style */

.button-grow {
  background-color: var(--grey);
  padding: 1em 2em;
  transition: all 0.3s ease-in-out;
}
.button-grow:hover {
  transform: scale(1.1);
  background-color: var(--lightgrey);
}

/* project */

.project-links {
  color: var(--green);
  font-size: 0.85em;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.8;
  margin-top: 0.3em;
  text-transform: uppercase;
}

.project-row img,
.mockup-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

.project-row:hover img,
.mockup-row:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project-row figure,
.mockup-row figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.row h2 {
  background-color: var(--black);
}

.headlinerow {
  background-color: var(--black);
}

.about {
  max-width: 60%;
  margin: auto;
  text-align: center;
  color: var(--lightgrey);
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 3000; /* Sit on top, above headernav */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  color: var(--lightgrey);
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: var(--grey);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  margin-top: 1.2rem;
  margin-right: 1rem;
  color: var(--lightgrey);
  background-color: none;
}

.openbtn {
  display: flex;
  font-size: 1.7rem;
  align-items: center;
}

.overlay.open {
  width: 100%;
}

@media (min-width: 768px) {
  .skillsection {
    display: grid !important;
    align-items: center;
    justify-items: center;
    text-align: left;
  }

  .skillsection .skills-grid {
    grid-column: 2 / 3;
    justify-self: start;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .overlay {
    display: block !important;
    flex-direction: unset !important;
    align-items: unset !important;
    justify-content: unset !important;
    text-align: center !important;
    position: fixed !important;
    z-index: 9999 !important;
    inset: 0 !important;
  }
  body,
  main,
  .project-row,
  .mockup-row,
  .about,
  .skillsection,
  .hero,
  .row,
  #contact {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .skills-grid {
    grid-template-columns: 2fr 2fr;
    justify-content: center;
  }
  .project-row > article,
  .mockup-row > article {
    text-align: center !important;
    margin: 0 auto !important;
  }

  .vertical-head {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .hero-text {
    order: 1;
    text-align: center !important;
    margin-bottom: 1.5em;
  }
  .hero-img {
    order: 2;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 990px) {
  .project-row figure,
  .mockup-row figure {
    height: 450px;
  }
}

@media (min-width: 768px) {
  #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    padding: 7em 0;
    text-align: left;
  }

  #contact article {
    text-align: right;
  }

  #contact figure {
    margin: 0;
  }

  #contact h2 {
    font-size: 4.3em;
    margin-right: -8px;
  }

  .skills-grid {
    grid-template-columns: repeat(1fr);
  }

  .project-links {
    font-size: 0.9em;
  }

  .project-row {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }
  .project-row:nth-child(2n) {
    grid-template-columns: 2fr 1fr;
  }

  .project-row:nth-child(2n) > figure {
    order: 1;
  }

  .project-row:nth-child(2n) > article {
    order: 2;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 589px) {
  h1,
  h2,
  h3,
  p,
  a {
    text-align: center;
  }

  :root {
    justify-items: center;
  }

  .overlay a {
    font-size: 20px;
    text-transform: uppercase;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .overlay .openbtn {
    font-size: 40px;
    top: 15px;
    left: 35px;
  }
}
