:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --background: #242424;
  --brown: #463f3a;
  --grey: #8a817c;
  --lightgrey: #bcb8b1;
  --white: #f4f3ee;
  --noto: "noto sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}
a:hover {
  color: var(--white);
}

/* src/main.css */
body {
  font-family: var(--grey), "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  color: var(--text-color-dark);
  letter-spacing: 0.6px;
  animation: fadeIn 0.5s;
}

h1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
}

h2 {
  text-transform: uppercase;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--lightgrey);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.headernav {
  position: sticky;
  display: flex;
  width: 90%;
  top: 0;
  background-color: var(--grey);
  box-shadow: 0 2px 4px #0000001a;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  border-radius: 37px;
  width: 90%;
  top: 0;
  margin-top: 2rem;
  z-index: 2000;
}

.headernav h1 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ---------- Navigation Styling ---------- */
nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  z-index: 100;
  width: 40%;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  transition: 0.5s;
  padding: 0.8rem 0.3rem;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--brown);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--brown);
}

/* client row */

.project-row {
  background: var(--brown);
  margin-bottom: 40px;
  overflow: hidden;
}

.project-row > article {
  padding: 40px;
  background: var(--brown);
  max-width: 400px;
  margin: auto 0 auto auto;
  text-align: right;
}
.project-row:nth-child(2n) > article {
  text-align: left;
  margin: auto auto auto 0;
}
/* ========== CONTACT STYLING ========== */
.list-social span {
  display: none;
}

#contact {
  background: var(--light-grey);
  width: 100%;
  margin-top: 40px;
  padding: 4em 0;
  text-align: center;
}
#contact figure {
  margin: 3em 0 0;
}

@media (min-width: 768px) {
  #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    padding: 7em 0;
    text-align: left;
  }

  #contact article {
    text-align: right;
  }

  #contact figure {
    margin: 0;
  }
}

#contact img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: var(--light-green) 4px solid;
  object-fit: cover;
}

#contact h2 {
  font-size: 3em;
  margin-top: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #contact h2 {
    font-size: 5em;
    margin-right: -8px;
  }
}

#contact address {
  font-style: normal;
  margin: 2em 0 0 0;
}

#contact .list-social {
  margin: 2em 0 0;
}

#contact .list-social i {
  color: var(--green);
  font-size: 30px;
}

#contact p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .project-row {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }
  .project-row:nth-child(2n) {
    grid-template-columns: 2fr 1fr;
  }

  .project-row:nth-child(2n) > figure {
    order: 1;
  }

  .project-row:nth-child(2n) > article {
    order: 2;
  }
}

.project-links {
  color: var(--green);
  font-size: 0.85em;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.8;
  margin-top: 0.3em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .project-links {
    font-size: 0.9em;
  }
}

.project-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

.project-row:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (min-width: 990px) {
  .project-row figure {
    height: 450px;
  }
}

.project-row figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--brown);
  }
  a:hover {
    color: var(--white);
  }
  button {
    background-color: var(--brown);
  }
}
